/* Features */

.features {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features__item {
  @media screen and (max-width: 479px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    max-width: 354px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}

.container__features {
  //   margin-bottom: 94px;
}

.features__image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  height: 120px;

  background-color: $button-grey;
  border-radius: 4px;
}

.features__image {
  fill: $inactive-black;
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: $inactive-black;
  font-weight: 700;

  font-size: 14px;

  line-height: 1.14;

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.features__text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;

  //   width: 270px;
}

.section__title--is-hidden {
  @extend %is-hidden;
}
