/* Footer */

.footer {
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  background-color: $footer-bg-color;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  @media screen and (min-width: $tablet) {
    width: 50%;
  }
}

.footer__container {
  //   display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

// Contacts

.footer-contacts__address {
  margin-top: 20px;
}

.address__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  font-weight: 400;
  color: $focus-text-color;
}

// Footer Contacts
.address__contacts {
  @extend %list;
  margin-top: 8px;
  line-height: 1.71;
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms $cubic-animation, fill 250ms $cubic-animation;

  &:hover,
  &:focus {
    color: $focus-color;
    fill: $focus-color;
  }
}

// Footer Social

.social-footer {
  //   margin-left: 70px;
  margin-top: 60px;

  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-top: 0;
    width: 50%;
  }
}

.social-footer__title {
  //   margin-top: 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: $focus-text-color;
}

.social-footer__social-list {
  margin-top: 20px;
}

.social-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $primary-white;
}

// Subscribe

.footer__subscribe-footer {
  //   margin-left: 93px;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscribe-footer__title {
  //   margin-top: 12px;
  margin-top: 60px;

  font-size: 14px;
  text-transform: uppercase;
  color: $focus-text-color;

  text-align: center;
}

.subscribe-footer__form {
  margin-top: 20px;
}

.subscribe-footer__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-footer__input {
  //   width: 358px;
  padding-left: 16px;

  min-width: 100%;
  max-width: 450px;
  height: 50px;

  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
  }
}

.subscribe-footer__button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  width: 200px;
  height: 50px;

  color: $primary-white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  cursor: pointer;

  background: $focus-color;
  border: 1px solid $focus-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-footer__icon {
  margin-left: 10px;
}
