/* Logo */

.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: $focus-color;

  @media screen and (min-width: 1600px) {
    font-size: 26px;
  }
}

.logo__text--black {
  color: $logo-black;
}

.logo__text--white {
  color: $logo-white;
}
