/* Header */
.page-header {
  display: flex;
  align-items: center;
  height: 60px;

  border-bottom: 1px solid #ececec;

  @media screen and (min-width: $desktop) {
    height: 80px;
  }
}

.page-header__container {
  width: 100%;
  height: 100%;
}
